.clickedInput:invalid{
    border-color: red;
    background-color: rgb(255, 200, 200);
}
.clickedInput:valid{
    border-color: green;
    background-color: rgb(200, 255, 200);
}
.errorSpan{
    color:red;
    font-size: small;
}
.glownyDiv{
    border-radius: 20px;
    margin: 20px auto auto auto;
    padding: 10px;
    width: 400px;
    text-align: center;
    background-color: rgb(200, 200, 200);
}
form{
    width: 350px;
    margin:auto;
}
th, td{
    border: 1px solid black;
    padding: 2px;
}
table{
    border-collapse: collapse;
    margin: auto;
    display:inline-block;
}
#listaUzytkownikow{
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto auto auto;
    min-width: 900px;
    text-align: center;
    background-color: rgb(227, 227, 227);
    overflow-y: auto;
}
#listaUzytkownikow::after{
    content: "";
    display: table;
    clear: both;
}
.zarejestrowany{
    background-color: rgb(220, 255, 202);
}
.niezarejestrowany{
    background-color: rgb(255, 220, 220);
}
#filtry{
    display:inline;
    vertical-align: top;
    width: 150px;
    float: left;
    margin: 10px;
}
h4{
    margin-bottom: 0px;
}
.sortButton{
    width: 20px;
    height: 20px;
    background-size: cover;
    background-color: transparent;
    border: none;
}
#refreshButton{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-color: transparent;
    position: relative;
    top: 10px;
    background-image: url('images/reload2.png');
    border: none;
}
footer{
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: rgb(210, 210, 210);
    height: 50px;
}
nav{
    width: 100%;
    top: 0px;
    background-color: rgb(210, 210, 210);
    height: 70px;
}
button{
    border-radius: 7px;
}
input{
    border-radius: 7px;
    max-width: 80%;
}
nav button{
    width: 15%;
    height: 100%;
    background-color: rgb(210, 210, 210);
    border: 1px solid rgb(180, 180, 180);
    float: right;
    border-radius: 0px;
}
html,body{
    height: 100%;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
}
#backwardSingle, #backwardDouble, #forwardSingle,#forwardDouble{
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
    background-size: cover;
    border-radius: 0px;
}
#backwardSingle{
    background-image: url("images/single-arrow.png");
    transform: rotate(180deg);
}
#backwardDouble{
    background-image: url("images/double-arrow.png");
    transform: rotate(180deg);
}
#forwardSingle{
    background-image: url("images/single-arrow.png");
}
#forwardDouble{
    background-image: url("images/double-arrow.png");
}